include common/_mixins

doctype html
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="assets/css/foundation.css")
        link(rel="stylesheet" href="assets/css/app.css")
        link(rel="icon" type="image/png" href="assets/img/fav_desert.png")
        title Максим Матющенко

    body
        block body
        .main-menu
            nav.main-menu__list
                a.main-menu__item(href="works.html") Мои работы
                a.main-menu__item(href="about.html") Обо мне
                a.main-menu__item(href="blog.html") Блог
                a.main-menu__item(href="index.html") Авторизация
        .preloader
            .preloader__spinner
                .preloader__animation
                .preloader__percent
        //script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7ECKASqNjr2kdFY1xJotto6NKcwsZqwI&callback=initMap")
        script(src="assets/js/foundation.js")
        script(src="assets/js/app.js")
