.index-wrapper {
  background: url('../img/desert.jpg');
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;

}

.authorize-button {
  cursor: pointer;
  align-self: flex-end;
  margin: 20px;
  border-radius: 3px;
  font: 1.6rem/3.6rem 'robotomedium', 'Arial', sans-serif;
  color: white;
  padding: 5px 27.5px;
  border: 1px solid white;

  &:hover {
    background-color: white;
    color: $accent-color;
  }

  @include phones {
    align-self: center;
    margin: 10px auto 5px;
  }
}

.welcome {
  margin: 35px 10px;
}

.welcome-wrapper {
  padding: 40px 50px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($accent-background, .6);
  border-radius: 10px 10px 0 0;
}

.me {
  //display: none;
}

.welcome-social-buttons-wrapper {
  margin: 35px 0;
}

.site-navigation-wrapper {
  width: 100%;
}

.site-navigation__link {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  font: 1.6rem/3.6rem 'robotomedium', 'Arial', sans-serif;
  color: white;
  background-color: $accent-secondary;
  padding: 5px 0;

  &:hover {
    background-color: $accent-color;
  }

  &:active {
    background-color: $accent-color;
  }

  &:focus {
    background-color: $accent-secondary;
  }

  &:nth-child(n+2) {
    border-left: 1px solid rgba(#fff, .5);
  }

  @include phones {
    font-size: 1.4rem;
  }

}

.site-navigation__link_big {
  width: 49.8%;
}

.login-wrapper {
  padding: 25px 25px 30px 25px;
}

.login__h2 {
  font-size: 3.5rem;
  color: white;

  @include phones {
    font-size: 2.8rem;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  font: 1.6rem/24px 'robotoregular', 'Arial', sans-serif;
  color: rgba(255, 255, 255, .8);
}

.login-form-input-wrapper {
  margin-bottom: 20px;
  vertical-align: top;
}

.login-form__icon {
  display: inline-block;
  width: 100%;
  //height: 45px;
  text-align: right;
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 5% center;
  background-color: $grey-light;
  vertical-align: middle;
  border-radius: 5px;
}

.login-form__icon_type_login {
  background-image: url('../img/login.svg');
}

.login-form__icon_type_password {
  background-image: url('../img/password.svg');
}

.login-form__input {
  width: 80%;
  padding: 11px 15px;
  font: 1.6rem "robotoregular", "Arial", sans-serif;
  color: rgba($grey-text-dark, .5);
  border: 0;
  border-radius: 0 5px 5px 0;
  margin-left: -5px;
}

.login-form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox {
  margin: 10px;
}

.login-form__captcha-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.6rem "robotobold", "Arial", sans-serif;
}

.login-form__radio-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-form__radio {
  margin: 10px;
}

.footer-copyright {
  font: 1.6rem/10rem 'robotoregular', 'Arial', sans-serif;
  color: rgba(255, 255, 255, .8);
}

.copyright__line {
  text-align: center;
  @include phones {
    display: block;
    font: 1.4rem/2.4rem 'robotoregular', 'Arial', sans-serif;
  }
}

.copyright__separator {
  text-align: center;
  @include phones {
    display: none;
  }
}