* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  background-color: rgba(255,255,255,0);
  border: 0 solid black;
  margin: 0;
  padding: 0;
}

@import 'fonts';

@import 'common/variables';
@import 'common/buttons';
@import 'common/headers';
@import 'common/header';
@import 'common/social-buttons';
@import 'common/avatar-name';
@import 'common/footer';

@import 'index/index';

@import 'works/portfolio';
@import 'works/what-about';
@import 'works/contact-me';

@import 'about/about-me';
@import 'about/map';

@import 'blog/blog';
@import 'blog/blog-sidebar';
@import 'blog/blog-content';

.background-container {
  width: 100%;
  min-width: $width
}

.wrapper {
  width: $width;
  margin: auto;
}