.kovalchuk {
    background-image: url('../images/kovalchuk.png');
}

.quote {
    background-image: url('../images/quote.png');
}

.viking {
    background-image: url('../images/viking.png');
}

.zakharov {
    background-image: url('../images/zakharov.png');
}