mixin reference(text, src, name, title)
    .reference
        .quotemark
        p.reference__text= text
        .referencer
            .photo-wrapper.referencer__photo-wrapper
                img(src=src, alt="Фото, от кого отзыв", class="referencer__photo")
            .referencer__name-and-title
                p.referencer__name= name
                p.referencer__title= title