footer.footer
    .footer-wrapper
        .footer-description
            p.footer__description Этот сайт я сделал в школе онлайн-образования Loftschool
            p.footer__copyright © Максим Матющенко
            p.footer__date Loftschool | 2016
        .footer-links
            ul.footer-navigation
                li.footer-navigation__item
                    a(href="works.html").footer-navigation__link Мои работы
                li.footer-navigation__item
                    a(href="about.html").footer-navigation__link Обо мне
                li.footer-navigation__item
                    a(href="blog.html").footer-navigation__link Блог
                li.footer-navigation__item
                    a(href="index.html").footer-navigation__link Авторизация
            +social-buttons("light")
        .footer-contacts
            a.footer__contact(href="skype:maksimka-mat?userinfo" target="_blank") Skype: maxim-mat@yandex.ru
            a.footer__contact(href="mailto:maxim-mat@yandex.ru" target="_blank")  maxim-mat@yandex.ru
            a.footer__contact(href="tel:+79032288595" target="_blank")  +7 903 228 8595
            a.footer__contact Москва