footer.footer
    .footer-description
        p.footer__description Этот сайт я сделал в рамках обучения в школе онлайн-образования Loftschool
        p.footer__copyright © Максим Матющенко
        p.footer__date Создано с любовью в loftschool | 2016
    .footer-links
        ul.footer-navigation
            li.footer-navigation__item
                a(href="works.html").footer-navigation__link Мои работы
            li.footer-navigation__item
                a(href="about.html").footer-navigation__link Обо мне
            li.footer-navigation__item
                a(href="blog.html").footer-navigation__link Блог
            li.footer-navigation__item
                a(href="index.html").footer-navigation__link Авторизация
        +social-buttons("footer")
    .footer-contacts
        p.footer__skype Skype: maxim-mat@yandex.ru
        p.footer__email maxim-mat@yandex.ru
        p.footer__phone +7 903 228 8595
        p.footer__address Москва