header.header
    .header__wrapper.wrapper
        //svg.watermark
        //    use(xlink:href='../img/portfolio_header.svg#')

        .header__first-row
            .header-social-buttons
                +social-buttons("accent")
            .hamburger
        .header__second-row
            include avatar-name
        .header__third-row
            .arrow-button.header__arrow-button.arrow-button_direction_bottom
        .triangles