header.header
    .header__first-row
        .header-social-buttons
            +social-buttons("header")
        .hamburger
    .header__second-row
        .watermark
        include avatar-name
    .header__third-row
        .arrow-button.header__arrow-button.arrow-button_direction_bottom
    .triangles