ul.social-links
    li.social-links__item.social-links__item_name_vk
        a.social-links__link.social-links__link_name_vk vk
    li.social-links__item.social-links__item_name_github
        a.social-links__link.social-links__link_name_github github
    li.social-links__item.social-links__item_name_linkedin
        a.social-links__link.social-links__link_name_linkedin linkedin