.desert-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.desert {
  background: url('../img/desert.jpg') repeat-x;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 6116px;
  background-size: 3058px 100%;
  animation: bg 120s linear infinite;
}

@keyframes bg {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(-3058px,0,0);
  }
}