.avatar-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-wrapper {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 25px;
}

.avatar {
  width: 100%;
}

.avatar__big-label {
  font: 3.5rem "robotomedium", "Arial", sans-serif;
  color: white;
  margin: 0;
}

.avatar__small-label {
  font: 1.6rem/2.4rem "robotoregular", "Arial", sans-serif;
  color: white;
  margin: 0;
}