.avatar-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //padding-top: 60px;
}

.avatar-wrapper {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
}

.person-name {
  font: 3.5rem "robotomedium", "Arial", sans-serif;
  color: white;
  margin: 25px 0 0 0;
}

.site-name {
  font: 1.6rem/2.4rem "robotoregular", "Arial", sans-serif;
  color: white;
  margin: 0;
}