.avatar-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-wrapper {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 25px;
}

.avatar {
  width: 100%;
}

.avatar__label {
  color: white;
  margin: 0;
  text-align: center;
}

.avatar__label_big {
  font: 2.8rem/3.5rem "robotomedium", "Arial", sans-serif;

  @include phones {
    font-size: 2rem;
  }

}

.avatar__label_small {
  font: 1.6rem/2.4rem "robotoregular", "Arial", sans-serif;
  color: rgba(255, 255, 255, .8);

  @include phones {
    font-size: 1.3rem;
  }

}