.arrow-button {
  background-image: url('../img/arrow_down.svg');
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }

  &_accent {
    color: $accent-background-medium;
  }

}

.arrow-button_direction_top {
  transform: rotate(180deg);
}

.arrow-button_direction_right {
  transform: rotate(270deg);
}

.arrow-button_direction_bottom {

}

.arrow-button_direction_left {
  transform: rotate(90deg);
}


.authorize-button {
  cursor: pointer;
  align-self: flex-end;
  margin: 20px;
  border-radius: 3px;
  font: 1.6rem/3.6rem 'robotomedium', 'Arial', sans-serif;
  color: white;
  padding: 5px 27.5px;
  border: 1px solid white;

  @include phones {
    align-self: center;
  }
}