.arrow-button {
  background-image: url('../img/arrow_down.svg');
  width: 25px;
  height: 15px;
  background-repeat: no-repeat;
  //margin: auto;

  &:hover {
    cursor: pointer;
  }

  &_accent {
    color: $accent-background-medium;
  }

}

.arrow-button_top {
  transform: rotate(180deg);
}

.arrow-button_right {
  transform: rotate(270deg);
}

.arrow-button_left {
  transform: rotate(90deg);
}