.footer {
  width: 100%;
  height: $footer-height;
  margin-top: -$footer-height;
  background-color: $footer-with-opacity;
  color: $light-font-color;
  font: 1.6rem/2.4rem "robotolight", "Arial", sans-serif;
  padding: 30px 0;
}

.footer-wrapper {
  width: $width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    width: 100%;
  }
}

.footer-description, .footer-links, .footer-contacts {
  //height: $footer-height;
  display: inline-block;
  padding: 0 30px;
}

.footer-description {
  width: 35%;
}

.footer__copyright {
  opacity: .5;
}

.footer__date {
  opacity: .5;
}

.footer-links {
  width: 39.2%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgb(117,116,112);
  border-right: 1px solid rgb(117,116,112);
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-navigation__item {
  display: inline-block;
}

.footer-navigation__link {
  color: $light-font-color;
}

.footer-contacts {
  width: 25.8%;
  opacity: .5;
}

.footer__contact {
  display: block;
  color: $light-font-color;
}