.h1 {
  font: 6.3rem 'sansus_webissimoregular', 'Arial', sans-serif;
  color: rgb(55,62,66);
  text-transform: uppercase;
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 65px 0;

  &:before {
    content: url('../img/Ellipse 3.png');
    position: relative;
    display: inline-block;
    bottom: 12px;
    right: 25px;

    @include phones {
      display: none;
    }
  }

  &:after {
    content: url('../img/Ellipse 3.png');
    display: inline-block;
    vertical-align: middle;
    transform: rotate(180deg);
    position: relative;
    top: 10px;
    left: 25px;

    @include phones {
      display: none;
    }
  }

}



.h2 {
  font: 3.25rem 'sansus_webissimoregular', 'Arial', sans-serif;
  color: rgb(93,90,85);
  text-transform: uppercase;
  text-align: center;
  max-width: 500px;

  &:before {
    content: url('../img/Ellipse 4.png');
    position: relative;
    display: inline-block;
    bottom: 5px;
    right: 5px;

    @include phones {
      display: none;
    }
  }

  &:after {
    content: url('../img/Ellipse 4.png');
    display: inline-block;
    vertical-align: middle;
    transform: rotate(180deg);
    position: relative;
    top: 3px;
    left: 5px;

    @include phones {
      display: none;
    }
  }

}

.h2_align_left {
  text-align: left;
}

.h3 {
  font: 2.8rem/3.2rem "robotomedium";
  color: $grey-text;
  margin: 0 0 40px 0;
}