.header {
  width: 100%;
  height: 100%;
  background-image: url('../img/desert.jpg');
  background-size: cover;
}

.header__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__first-row {
  display: flex;
  justify-content: space-between;
}

.header-social-buttons {
  margin: 30px;
}

//.watermark {
  //position: absolute;
  //width: 100%;
  //height: auto;
  //background-image: url('../img/portfolio_header.svg');
  //background-repeat: no-repeat;
  //z-index: 10;
  //opacity: .1;
//  z-index: 10;
//}

.hamburger {
  width: 40px;
  height: 35px;
  margin: 30px;
  background-image: url('../img/hamburger.svg');

  &:hover {
    cursor: pointer;
  }

}

.header__arrow-button {
  margin: auto;
}