.header {
  height: 100%;
  background-image: url('../img/desert.jpg');
  background-size: cover;
}

.header__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-social-buttons {
  margin: 30px;
}

.watermark {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 50%;
  opacity: .1;

  @include phones {
    display: none;
  }
}

.hamburger {
  width: 40px;
  height: 35px;
  margin: 30px;
  background-image: url('../img/hamburger.svg');
  background-size: contain;

  &:hover {
    cursor: pointer;
  }

  @include phones {
    width: 26px;
    height: 23px;
  }

}

.header__second-row {
  z-index: 10;
}

.header__arrow-button {
  margin: auto;
}

.triangle-box {
  width: 100%;
  min-width: $width;
  position: absolute;
  bottom: -5px;
}

.triangle {
  fill: $triangle-background;
}

.triangle_blog {
  fill: $accent-lightest;
}