.preloader {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/desert_prel_bg.jpg');
  z-index: 9999;
}

.preloader__spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 15rem;
}

.preloader__animation {
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1.5s infinite;

  &:before, &:after {
    content: "";
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: white;
  }

  &:before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    animation: spin 3s infinite;
  }

  &:after {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    animation: spin 2s infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(360deg);}
}

.preloader__percent {
  color: white;
  font-size: 12.5px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%,50%);
}