.social-links {
  padding: 0;
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links__item {
  display: inline-block;
  background-repeat: no-repeat;
  font-size: 3rem;
}

.social-links__link_where_footer {
   color: rgba(255,255,255,.5);
 }

.social-links__link_where_footer:hover {
  color: white;
}

.social-links__link_where_footer:active {
  color: white;
}

.social-links__link_where_footer:focus {
  color: rgba(255,255,255,.5);
}

.social-links__link_where_header {
  color: white;
}

.social-links__link_where_header:hover {
  color: $accent-color;
}

.social-links__link_where_header:active {
  color: $accent-color;
}

.social-links__link_where_header:focus {
  color: white;
}