.social-links {
  padding: 0;
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links__item {
  display: inline-block;
  background-repeat: no-repeat;
  font-size: 3rem;
}

.social-links__link_color_light {
   color: rgba(255,255,255,.5);

  &:hover {
    color: white;
  }

  &:active {
    color: white;
  }

  &:focus {
    color: rgba(255,255,255,.5);
  }

 }

.social-links__link_color_accent {
  color: white;

  &:hover {
    color: $accent-color;
  }

  &:active {
    color: $accent-color;
  }

  &:focus {
    color: white;
  }

}