$footer-solid-color: rgb(55,62,66);
$footer-with-opacity: rgba(55,62,66,.85);
$accent-color: rgb(205,137,32);
$accent-light-color: rgb(231,167,49);
$accent-lightest-color: rgb(230,172,65);
$accent-light: rgb(238,235,223);
$light-font-color: white;
$grey-text: rgb(93,90,85);
$grey-text-opaque50: rgba(93,90,85,.5);

$width: 1200px;