.blog-sidebar {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  text-align: right;

  @include tablets {
    width: 33.3%;
    position: fixed;
    left: -33.3%;
    top: 0;
    bottom: 0;
    background-color: $accent-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.blog-navigation__item {

  display: block;
  font: 1.6rem/2.6rem 'robotoregular', 'Arial', sans-serif;
  color: $grey-text;
  padding-right: 20px;
  margin-bottom: 30px;

  &:hover {
    font-family: 'robotobold', 'Arial', sans-serif;
    color: $accent-color;
    border-right: 3px solid $accent-color;

    @include tablets {
      color: white;
      border: 0;
    }
  }

  @include tablets {
    color: rgba(255,255,255,.66);
    font: 1.2rem/1.8rem 'robotoregular', 'Arial', sans-serif;
  }

  &_selected {
    font-family: 'robotobold', 'Arial', sans-serif;
    color: $accent-color;
    border-right: 3px solid $accent-color;

    @include tablets {
      color: white;
      border: 0;
    }
  }

}

.small-screen-button {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  background-color: $accent-color;
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%,-50%);
  cursor: pointer;

  @include tablets {
    display: block;
  }
}
