.blog-sidebar {
  display: inline-block;
  width: 25.5%;
  vertical-align: top;
  text-align: right;

  @include tablets {
    display: none;
  }
}

.blog-navigation__item {

  display: block;
  font: 1.6rem/2.6rem 'robotoregular', 'Arial', sans-serif;
  color: $grey-text;
  padding-right: 20px;
  margin-bottom: 30px;

  &_selected {
    font-family: 'robotobold', 'Arial', sans-serif;
    color: $accent-color;
    border-right: 3px solid $accent-color;
  }

  &:hover {
    font-family: 'robotobold', 'Arial', sans-serif;
    color: $accent-color;
    border-right: 3px solid $accent-color;
  }

}

