.contact-me {
  min-height: 100%;
  background-image: url('../img/sand.png');
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  padding-bottom: $footer-height;
}

.contact-me-form {
  width: 380px;
  margin: auto;
  padding-top: 20px;
  background-color: rgba(255,255,255,.25);
}

.contact-me__input {
  border: none;
  border-radius: 2px;
  width: 90%;
  display: block;
  margin: auto;
  height: 45px;
  margin-bottom: 18px;
  font: 1.6rem "Roboto Regular", "Arial", sans-serif;
  color: $grey-text-opaque50;
  padding-left: 20px;
}

.contact-me__input_type_message {
  height: 140px;
  padding: 20px;
  resize: none;
}

.contact-me-form__buttom {
  border: none;
  padding: 0;
  width: 49.6%;
  background-color: $accent-light-color;
  text-align: center;
  height: 45px;
  vertical-align: middle;
  font: 1.6rem "Roboto Medium", "Arial", sans-serif;
  color: white;
  border-radius: 0 0 0 3px;

  &:hover {
    cursor: pointer;
    background-color: $accent-color;
  }

  &:last-child {
    border-left: 2px solid #ccc;
    border-radius: 0 0 3px 0;
  }

}

.contact-me-arrow-button-wrapper {
  //flex-grow: 1;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}