.portfolio {
  min-height: 100%;
  background-color: rgb(237,231,221);
}


// HEADER
.portfolio__header {
  position: relative;
}

.watermark-works {
  position: absolute;
  left: 25%;
  width: 50%;
  opacity: .07;
  top: 5%;
}


// BUTTONS
.portfolio-arrow-button-wrapper {
  display: inline-block;
  width: 40px;
}


// SLIDER
.portfolio__main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__project {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    flex-direction: column;
  }
}


// WORKS
.screenshots-wrapper {
  display: inline-block;
  width: 40%;

  @include tablets {
    width: 60%;
  }

  @include phones {
    width: 80%;
  }
}

.screenshot {
  max-width: 100%;
}

.work-details {
  display: inline-block;
  vertical-align: top;
  width: 35%;

  @include tablets {
    order: -1;
    margin: 0px auto 100px;
    width: 50%;
    text-align: center;
  }

  @include phones {
    width: 75%;
  }
}

.work-details__h2 {
  @include tablets {
    text-align: center;
  }
}

.portfolio__skills-used {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font: 1.6em 'Roboto Medium', Arial, sans-serif;
  text-transform: uppercase;
  color: $accent-color;
  padding: 18px 0;
}

.button-link__text {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 40px;
  background-color: $accent-background-strong;
  border-radius: 3px;
  color: white;
  font: 1.6rem/3.6rem 'robotoregular';
}


// CIRCLES
.slider-nav-circles {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 150px;
  left: 50%;
  margin: 0 0 30px -48px;
}

.slider-nav-circles__circle {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid $accent-color;
  background-color: white;
}

.slider-nav-circles__circle_active {
  background-color: $accent-color;
}