.portfolio {
  width: 100%;
  min-height: 100%;
  background-color: rgb(237,231,221);
}

.portfolio__wrapper {
  position: relative;
}

.portfolio__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-arrow-button-wrapper {
  display: inline-block;
  height: 100%;
}

.screenshots-wrapper {
  display: inline-block;
}

.screenshot {
  width: 500px;
  height: 650px;
}

.slider {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 150px;
  left: 50%;
  margin: 0 0 30px -48px;
}

.slider__circle {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid $accent-color;
  background-color: white;
}

.slider__circle_active {
  background-color: $accent-color;
}

.work-details {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
}

.portfolio__skills-used {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font: 1.6em 'Roboto Medium', Arial, sans-serif;
  text-transform: uppercase;
  color: $accent-color;
  padding: 18px 0;
}

.button-link__text {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 40px;
  background-color: $accent-background-strong;
  border-radius: 3px;
  color: white;
  font: 1.6rem/3.6rem 'robotoregular';
}