extends ../head_layout

block body

    .desert-wrapper
        .desert
    .index-wrapper

        button.button.authorize-button Авторизоваться

        .welcome.flip-container
            .flipper
                .me.flipper__front
                    .welcome-wrapper.me-wrapper
                        +avatar-name("Максим Матющенко", "Веб-разработчик")
                        .welcome-social-buttons-wrapper
                            +social-buttons("light")
                    .welcome-buttons-wrapper
                        a(href="works.html").welcome-button Мои работы
                        a(href="about.html").welcome-button Обо мне
                        a(href="blog.html").welcome-button Блог

                .login.flipper__back
                    .welcome-wrapper.login-wrapper
                        h2.h2.login__h2 Авторизуйтесь
                        form#login-form.login-form
                            .login-form-input-wrapper
                                span.login-form__icon.login-form__icon_type_login
                                    input.login-form__input.login-form__input_type_login(value="Логин" data-name="login")
                            .login-form-input-wrapper
                                span.login-form__icon.login-form__icon_type_password
                                    input.login-form__input.login-form__input_type_password(value="Пароль" type="password" data-name="password")
                            div.login-form__checkbox
                                input.checkbox.login-form__checkbox(type="checkbox" name="robot-checkbox" value="yes" data-name="i-am-human")
                                span.login-form__checkbox-text Я человек
                            span.login-form__captcha-text Вы точно не робот?
                            div.login-form__radio-buttons
                                .radio-group
                                    input(type="radio" name="captcha" value="yes" data-name="i-am-not-robot").login-form__radio
                                    span.login-form__radio-label Да
                                .radio-group
                                    input(type="radio" name="captcha" value="no" data-name="i-am-robot").login-form__radio
                                    span.login-form__radio-label Не уверен
                    .welcome-buttons-wrapper
                        input.welcome-button.welcome-button_big(type="submit" value="Войти" form="login-form")
                        input.welcome-button.welcome-button_big(type="reset" value="Очистить" form="login-form")

        footer.copyright.footer-copyright
            span.copyright__line © Максим Матющенко
            span.copyright__separator= " | "
            span.copyright__line сделано в Loftschool | 2016