extends ../head_layout

block body

    .index-wrapper

        button.button.authorize-button Авторизоваться

        .welcome
            .welcome-login-wrapper
                +avatar-name("Максим Матющенко", "Личный сайт веб-разработчика")
                .welcome-social-buttons-wrapper
                    +social-buttons("light")
            nav.site-navigation-wrapper
                a(href="works.html").site-navigation__link Мои работы
                a(href="about.html").site-navigation__link Обо мне
                a(href="blog.html").site-navigation__link Блог

        .login.welcome-login-wrapper
            h2.h2.login__h2 Авторизуйтесь
            form.login-form
                .login-form-input-wrapper
                    span.login-form__icon.login-form__icon_type_login
                    input.login-form__input.login-form__input_type_login(value="Пароль")
                .login-form-input-wrapper
                    span.login-form__icon.login-form__icon_type_password
                    input.login-form__input.login-form__input_type_password(value="Пароль")
                div.login-form__checkbox
                    input.checkbox.login-form__checkbox(type="checkbox" name="robot-checkbox" value="yes")
                    span.login-form__checkbox-text Я человек
                span.login-form__captcha-text Вы точно не робот?
                div.login-form__radio-buttons
                    input(type="radio" name="captcha" value="yes").login-form__radio
                    span.login-form__radio-label Да
                    input(type="radio" name="captcha" value="no").login-form__radio
                    span.login-form__radio-label Не уверен
            nav.site-navigation-wrapper
                a(href="index.html").site-navigation__link.site-navigation__link_big На главную
                a(href="index.html").site-navigation__link.site-navigation__link_big Войти

        footer.copyright.footer-copyright
            span.copyright__line © Максим Матющенко
            span.copyright__separator= " | "
            span.copyright__line сделано с любовью в loftschool | 2016