extends ../page_layout

block content

    +header("portfolio_header", "Максим Матющенко", "Личный сайт веб-разработчика", "default")

    section.portfolio.background-container
        .portfolio__header
            svg.watermark-works
                use(xlink:href='assets/img/works_header.svg#Layer_1')
            h1.h1 Мои работы
        .portfolio__wrapper.wrapper
            .work-details.work-details_separate
                h2.h2.h2_align_left.work-details__h2 Сайт школы онлайн образования
                p.portfolio__skills-used HTML, CSS, Javascript
                a(href="ya.ru" target="_blank").button-link__text!= '<i class="fa fa-link" aria-hidden="true"></i> Посмотреть сайт'
            .portfolio__content-wrapper
                .portfolio-arrow-button-wrapper.portfolio-arrow-button-wrapper_left
                    .arrow-button.arrow-button_accent.arrow-button_direction_left.portfolio-arrow-button_direction_left
                .screenshots-wrapper
                    img.screenshot(src="assets/img/work-1.png" alt="Скриншот с примером работы")
                ul.slider
                    li.slider__circle.slider__circle_active
                    li.slider__circle
                    li.slider__circle
                    li.slider__circle
                .work-details.work-details_in-row
                    h2.h2.h2_align_left.work-details__h2 Сайт школы онлайн образования
                    p.portfolio__skills-used HTML, CSS, Javascript
                    a(href="ya.ru" target="_blank").button-link__text!= '<i class="fa fa-link" aria-hidden="true"></i> Посмотреть сайт'
                .portfolio-arrow-button-wrapper.portfolio-arrow-button-wrapper_right
                    .arrow-button.arrow-button_accent.arrow-button_direction_right.portfolio-arrow-button_direction_left

    section.what-about.background-container
        .what-about__wrapper.wrapper
            .about__header
                svg.watermark-about
                    use(xlink:href='assets/img/about_header.svg#Layer_1')
                h1.h1 Что обо мне говорят
            .reference-wrapper
                +reference("Этот парень проходил обучение разработке не где-то, а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!", "assets/img/kovalchuk.png", "Ковальчук Дмитрий", "основатель Loftschool")
                +reference("Это код выдержит любые испытания. Только, пожалуйста, не загружайте сайт на слишком старых браузерах!", "assets/img/zakharov.png", "Зар Захаров", "преподаватель")

    section.contact-me.background-container
        .contact-me__wrapper.wrapper
            form.contact-me-form(action='/')
                h2.h2.contact-me__h2 Связаться со мной
                input(class="contact-me__input contact-me__input_type_name", value="Имя")
                input(class="contact-me__input contact-me__input_type_email", value="Почта")
                textarea(class="contact-me__input contact-me__input_type_message") Ваше сообщение
                .contact-me-form__buttons-wrapper
                    input.contact-me-form__button(type="submit" value="Отправить")
                    input.contact-me-form__button(type="reset" value="Очистить")
            .contact-me-arrow-button-wrapper
                .arrow-button.arrow-button_direction_top