.map_and_contacts {
  height: 100%;
  //margin-bottom: $footer-height;
  position: relative;
  //pointer-events: none;

  @include tablets {
    //margin-bottom: 249px;
  }

  @include tablets {
    //margin-bottom: 398px;
  }
}

.map {
  min-height: 100%;
  width: 100%;
}

.contacts-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.contacts {
  top: 50%;
  left: 50%;
  padding: 35px;
  //min-width: 380px;
  background-color: rgba(255,255,255,.85);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contacts__h2 {
  margin: 0;
  padding: 0;

}

.contacts-list__item {
  vertical-align: middle;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.contacts-list__icon {
  display: inline-block;
  font: 3.5rem 'fontawesomeregular';
  color: $accent-light-color;
  width: 40px;
}

.contacts-list__text {
  display: inline-block;
  margin-left: 10px;
  font: 1.6rem/2.4rem 'robotomedium', 'Arial', sans-serif;
  color: $grey-text;
  opacity: .8;
}